<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VTISBI_1._1.Web</title>
    <link rel="stylesheet" type="text/css" href="../Content/main.css">
</head>
<body>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
